
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #0D1321;
  line-height: 26px;
}

/* Shared Style */

.color-gray {
                color: #0D1321;
}
/* button styles */

.btn-style {
                font-family: "Azeret Mono", monospace;
                font-optical-sizing: auto;
                font-weight: 600;
                font-size: 20px;
                padding: 17px 24px;
                box-sizing: 2px;
                border-radius: 5px;
                background-color: white;
}

.btn-style-2 {
                margin-top: 24px;
                background-color: black;
                color: white;
                text-decoration: none;
              
}

.btn-style-3 {
                font-family: "Azeret Mono", monospace;
                font-optical-sizing: auto;
                font-weight: 600;
                font-size: 14px;
                padding: 17px 40px;
                box-sizing: 2px;
                background-color: white;
                margin-bottom: 40px;

}

.section-title {
                font-size: 32px;
                font-weight: 800;
                color: #0D1321;
                text-align: center;
}

.div-title {
                font-size: 24px;
                line-height: 32px;
}

/* Nav Styles */

nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 50px 150px;

}

/* Banner Styles */

.banner {
                display: flex; 
                padding: 40px 0px;
                text-align: center;
                background-image: url('../assets/Hero-bg.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

}

.banner-content {
                margin: 26px 221px 26px 221px;

}

.banner-title {
                font-size: 48px;
                font-weight: 800;
                margin-top: 28px;
                line-height: 60px;

}

.banner-description {
                margin-top: 16px;

}


/* Section Styles */

.why-web-development {

               margin: 80px 148px;  
               border-radius: 10px;
               background: rgb(13, 19, 33, 0.03) ;
               padding: 80px 144px;

}

.section-title {
                margin-bottom: 50px;
}

.section-description {
                text-align: center;

}

/* section div 1 */

.div-1 {
                display: flex;
                align-items: center;
                margin-top: 40px;
                justify-content: space-between;
                padding: 60px;
                background-color: rgb(255, 255, 255, 0.7);
                border-radius: 10px;

}

.section-div-1 {
                max-width: 50%;
                padding: 20px 20px 0px 40px;

}

.div-description {
                margin-bottom: 30px;
}
            
/* section div 2 */

.div-2 {
                display: flex;
                align-items: center;
                margin-top: 40px;
                
                padding: 60px;
                background-color: rgb(255, 255, 255, 0.7);
                border-radius: 10px;

}

/* section div 3 */

.div-3 {
                display: flex;
                align-items: center;
                margin-top: 40px;
                justify-content: space-between;
                padding: 60px;
                background-color: rgb(255, 255, 255, 0.7);
                border-radius: 10px;

}

/* My Inspiration Section */

.my-inspiration {

                margin: 100px 148px;  
                border-radius: 10px;
                
 
 }

 .y-vid {
                text-align: center;
                border-radius: 5px;
                padding: 32px;
                border: 0.7px solid #0D1321;
                background-color: #ffffff;
                border-radius: 10px;  
                margin-top: 48px;             

 }

 iframe {
                display: block;
                border-radius: 10px;
 }

 /* my current target section */

 .my-current-target {

                margin: 100px 148px;  
                border-radius: 10px;
                
 
 }

 .target-container {

                margin-top: 48px;
                display: flex;
                gap: 48px;
                
 }

 .block-container1 {
                padding: 40px;
                background-color: rgb(255, 76, 30, 0.05);
                border-radius: 10px;
 }

 .block-container2 {
                padding: 40px;
                background-color: rgb(0, 76, 232, 0.05);
                border-radius: 10px;
 }

 .block-container3 {
                padding: 40px;
                background-color: rgb(255, 223, 0, 0.05);
                border-radius: 10px;
 }

 .skills-title {
                font-size: 24px;
 }

.learn-more {
                font-weight: 600;
                color: #0D1321;
}

 /* my next target section */