
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #0D1321;
}

/* Shared Style */

.color-gray {
                color: #0D1321;
}
/* button styles */

.btn-style {
                font-family: "Azeret Mono", monospace;
                font-optical-sizing: auto;
                font-weight: 600;
                font-size: 20px;
                padding: 17px 24px;
                box-sizing: 2px;
                border-radius: 5px;
                background-color: white;


}

/* Nav Styles */

nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 50px 150px;

}

/* Banner Styles */

.banner {
                display: flex; 
                padding: 40px 0px;
                text-align: center;
                background-image: url('../assets/Hero-bg.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

}

.banner-content {
                margin: 26px 221px 26px 221px;

}

.banner-title {
                font-size: 48px;
                font-weight: 800;
                margin-top: 32px;

}

.banner-description {
                font-size: 16px;
                font-weight: 400;
                margin-top: 24px;

}

.btn-style-2 {
                margin-top: 32px;
                background-color: black;
                color: white;
                text-decoration: none;

                
}



